* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* @media only screen and (max-width: 400px)  {
    body {
        background-color: aqua;
    }
} */

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Header */

.colorheaderdiv1 {
    background-color: rgb(122, 23, 23);
    font-weight: 500;
}

.botonbusqueda {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: black;
}

.botonbusqueda:hover {
    background-color: rgb(122, 23, 23);
    border-color: black;
}

/* header nav ul li a:hover {
    background-color: rgb(236, 226, 226);
    border-radius: 10px;
    width: fit-content;
    padding: 0.1rem;
} 
 ver despues el error */

/* Footer */

footer {
    background-color: rgb(104, 68, 68);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer img {
    max-width: 36px;
    max-height: 36px;
}

footer div {
    padding: 0.55rem;
}

.politicas {
    display: flex;
    flex-direction: column;
}

.politicas a {
    color: rgb(214, 202, 202);
}

.redessociales a {
    margin: 0 0.5rem;
}


.portadajapanshop {
    padding: 0.5rem;
}

.portadajapanshop img {
    border-radius: 7px;
}

.somos-japanshop {
    text-align: center;
}

.somos-japanshop p {
    text-align: start;
}

.botonunetenos {
    background-color: rgb(122, 23, 23);
    padding: 1rem;
    border-radius: 7px;
    color: rgb(240, 230, 230);
}

.portadasecundaria {
    margin: 1.2rem 0rem;
    margin-top: 2rem;
    border-top: 1px solid black;
    padding-top: 2rem;
}

.novedades {
    padding: 0.5rem;
    text-align: center;
}

.noveimagenes {
    text-align: center;
    align-items: center;
}

.noveimagenes p {
    margin: 0;
}

.noveimagenes div {
    margin-bottom: 2.5rem;
}

.contenedor {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;

}