.contacto {
  border: 2px solid rgb(150, 29, 29);
  border-radius: 1rem;
  margin: 2rem;
  padding: 0.5rem;

  & img {
    max-width: 48px;
    max-height: 48px;
  }

  & p {
    font-size: medium;
  }

}