.portadajapanshop {
  padding: 0.5rem;

  & img {
    border-radius: 7px;
    max-height: 800px;
    width: 100%;
  }
}


.somos-japanshop {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  & p {
    text-align: start;
  }
}


.botoncontactenos {
  background-color: rgb(122, 23, 23);
  padding: 1rem;
  border-radius: 7px;
  color: rgb(240, 230, 230);
  transition: .5s ease;

  &:hover {
    color: rgb(196, 52, 52);
    background-color: black;
  }
}

.portadasecundaria {
  margin: 1.2rem 0rem;
  margin-top: 2rem;
  border-top: 1px solid black;
  padding-top: 2rem;

  @include mq-md {
    display: flex;
    justify-content: center;
  }
}

.novedades {
  padding: 0.5rem;
  text-align: center;

  &Imagenes {
    text-align: center;
    align-items: center;

    & p {
      margin: 0;
    }

    & div {
      margin-bottom: 2.5rem;
    }

    @include mq-md {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 0.5rem;

      & img {
        max-width: 200px;
        max-height: 200px;
      }
    }

    @include mq-xl {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include mq-xxl {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}