.tiendafisica {
  border: 2px solid rgb(150, 29, 29);
  border-radius: 1rem;
  margin: 8rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;


  & iframe {
    max-width: 400px;
    max-height: 100%;
    margin: 0 auto;
  }

  & p {
    line-height: 1.5rem;
    width: 100%;
  }

  & h2 {
    text-align: center;
  }
}

.tiendafisica h2,
.tiendafisica img,
.tiendafisica p,
.tiendafisica iframe {
  padding: 0.5rem;
  margin-bottom: 0.3rem;
}