.contenedor {
  border: 1px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
  }

  @include mq-md {
    width: fit-content;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
}